@model KaartViewModel

@{
    ViewData["Title"] = "Kaart titel";
}

<div class="container">
    <form asp-controller="Kaart" asp-action="Index">
        <div class="mb-3">
            <label class="form-label" for="">Attractie Naam</label>
            <span class="d-flex align-item-center">
                <input name="attractieNaam" class="form-control mr-1" type="text">
                <input class="btn btn-primary" type="submit" value="Zoeken">
            </span>

        </div>
    </form>
</div>

<h2>Huidige planning</h2>

<table class="table">
    <tr>

        <th scope="col">Attractie</th>

        <th scope="col">Tijdslot</th>
    </tr>

    @foreach (var item in Model.PlanningItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Attractie.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dag)
            </td>
        </tr>
    }

</table>